{
  "plugins": ["github"],
  "extends": [
    "plugin:github/recommended",
    "plugin:github/browser",
    "plugin:github/typescript"
  ],
  "rules": {
    "no-console": "off",
    "i18n-text/no-en": "off",
    "import/no-anonymous-default-export": "off",
    "github/unescaped-html-literal": "off"
  }
}
